html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

#game {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: #050505;
}

#viewport {
    position: absolute;
    left: 50%;
    top: 50%;

    width: min(100vw, calc(100vh * 16 / 9));
    height: min(100vh, calc(100vw * 9 / 16));
    aspect-ratio: 16 / 9;

    transform: translate(-50%, -50%);
    transform-origin: center;

    overflow: hidden;
}

#scene {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

#game-board {
    position: absolute;
    inset: 0;

    overflow: hidden;
    perspective: 1200px;
    background: #050505;

    opacity: 0;
    pointer-events: none;
}

#game-board.active {
    opacity: 1;
    pointer-events: auto;
}

.table {
    position: absolute;
    left: 50%;
    bottom: -35%;

    width: 180%;
    height: 160%;

    --rotate-x: 55deg;
    --translate-y: -18%;

    transform:
            translateX(-50%)
            rotateX(var(--rotate-x))
            translateY(var(--translate-y));

    transform-origin: bottom center;
    background:
            linear-gradient(180deg,
            #111 0%,
            #1c1c1c 25%,
            #242424 50%,
            #1a1a1a 75%,
            #0f0f0f 100%);
    box-shadow:
            inset 0 80px 200px rgba(150, 144, 144, 0.61),
            inset 0 -120px 200px rgba(72, 65, 65, 0.8);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transform-style: preserve-3d;
}

.table::before {
    content: "";
    position: absolute;
    inset: clamp(10px, 3vw, 30px);
    border: 2px solid rgb(197, 183, 183);
    box-shadow:
            inset 0 0 40px rgb(157, 144, 144),
            0 0 40px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

@media (max-width: 768px) {
    .table {
        --rotate-x: 62deg;
        --translate-y: -14%;
        bottom: -30%;
    }
}

.audio-control {
    position: fixed;
    top: clamp(15px, 4vmin, 40px);
    right: clamp(15px, 4vmin, 40px);
    z-index: 1000;

    background: transparent;
    color: #8b0000;
    border: 2px solid #650707;
    border-radius: 50%;
    width: clamp(50px, 10vmin, 80px);
    height: clamp(50px, 10vmin, 80px);
    cursor: pointer;
    font-size: clamp(18px, 5vmin, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.audio-control:hover {
    background: rgba(139, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(255, 0, 60, 0.4);
    transform: scale(1.15);
}

.audio-control img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
