#scene {
    position: fixed;
    inset: 0;
    overflow: visible;
}

#game-board {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #050505;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.table {
    position: absolute;
    left: 50%;
    bottom: clamp(-40vh, -25vh, -15vh);
    width: clamp(100vw, 170vw, 300vw);
    height: clamp(100vh, 180vh, 200vh);
    transform: translateX(-50%) rotateX(55deg) translateY(-18%);
    transform-origin: bottom center;
    background: linear-gradient(180deg, #111 0%, #1c1c1c 25%, #242424 50%, #1a1a1a 75%, #0f0f0f 100%);
    box-shadow: inset 0 80px 200px rgba(150, 144, 144, 0.61),
    inset 0 -120px 200px rgba(72, 65, 65, 0.8);
}

.table::before {
    content: "";
    position: absolute;
    inset: clamp(10px, 3vw, 30px);
    border: 2px solid rgb(197, 183, 183);
    box-shadow: inset 0 0 40px rgb(157, 144, 144),
    0 0 40px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

@media (max-width: 768px) {
    #game-board {
        perspective: 1200px;
    }
    .table {
        width: 300vw;
        --rotate-x: 62deg;
        --translate-y: -15%;
        bottom: -25svh;
        height: 250svh;
    }
}

@media (max-width: 480px) {
    .table {
        width: 500vw;
        --rotate-x: 65deg;
        --translate-y: -10%;
        bottom: -30svh;
        height: 300svh;
    }
}

.audio-control {
    position: fixed;
    top: clamp(15px, 4vmin, 40px);
    right: clamp(15px, 4vmin, 40px);
    z-index: 1000;
    width: clamp(50px, 10vmin, 80px);
    height: clamp(50px, 10vmin, 80px);
    background: transparent;
    color: #8b0000;
    border: 2px solid #650707;
    border-radius: 50%;
    cursor: pointer;
    font-size: clamp(18px, 5vmin, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;
}

.audio-control:hover {
    background: rgba(139, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(255, 0, 60, 0.4);
    transform: scale(1.15);
}

.audio-control img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
